{% block body %}
<div>
    <button  class="btn btn-primary" type ="button" >Agregar producto</button> 
</div>
<div class="card">
    <div class="card-header">
        <strong class="card-title">Listado de Producto</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                  
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Descripcion</th>
                  <th>Stock</th>
                </tr>
            </thead>
            <tbody>
              {% for l in est %}
                <tr>
                  <td>{{ l.id }}</td>
                  <td>{{ l.nombre }}</td>
                  <td>{{ l.precio }}</td>
                  <td>{{ l.descripcion }}</td>
                  <td>{{ l.stock }}</td>
                  <td>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock body %}



